* {
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #05A8AA;
  color: white;
}
body {
    background-color:bisque;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .content {
    width: 100%;
    height: 500px;
    margin: 10px auto;
  }

  .header {
    background-image: url("../images/pexels-fauxels-3184398.jpg");
    background-position: center;
    background-size: cover;
    height: 520px;
    width: 100%;
    
  }

  h2{
    font-size: 30px ;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
  }

  .header h1 {
    background-color: #05A8AA;
    text-align: center;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    width: 68%;
    padding: 20px;
    margin: 0 auto;
  }

  .user_details{
    text-align: center;
}
form div {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 300px;
    text-align: right;
  }
  input, select {
      width: 250px;
  }
  .button {
    border-radius: 4px;
    background-color: #05A8AA;
    color: white;
    display: inline-block;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid blue;
  }
  
  .button:hover {
    background-color: #05A8AA;
    border: 1px solid #05A8AA;
    color: #FFF;
  }
  a {
    text-decoration: none;
  }

  #status {
    margin-top: 10px;
  }